html, body {

}

body {
  /* display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; */
  padding-top: 54px;
  background-color:#0b0b0c;
  font-family: 'Quicksand', sans-serif;
  padding: 5%;
  /*font-family: 'Josefin Sans', sans-serif; */

  /* overflow: auto; */
}

.form-inline {
justify-content: flex-end;

}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.colum-sizing {
  margin-top: 20px;
  margin-bottom: 10px;
}

a {
  color:#8ad8d7;
}

#galleryTextParent {
      padding-top:7%;
      text-align: center;
      color:#7c7a7a;

}

#introParent, #titleParent {
  width: 100%;
  text-align: center;
  color:#eee6e4;
}

#intro{
  /* margin-left : 35%; */
  margin-top: 4.5em
  text-align: center;
  font-size: 1.1em;
  color:#eee6e4;
  letter-spacing: 3px;
  opacity: 0.7;
}

#record_page  {
  padding-top:5%;
  width: 100%;
  text-align: center;

}


.readDreamParentButtons, .poetryGeneratorParent {
  padding-top:7%;
  width: 100%;
  text-align: center;
  color: white;

}

.poetryGenerator {
  padding-top:2%;
  margin-left: 400px;
  margin-bottom: : 100px;
  border-style: dotted;
  border-width: 0.5px;
  width: 33%;
  text-align: center;
  color: #e7c024;
/*db5a04 #e7c024   #dd7937*/

}




#writeButtonsparent {
    margin-top:200px;
}

#read_page {
  width: 100%;
  text-align: center;
  padding-top:7%;

}

#archive_page_content, #gallery_page {
  padding-top:7%;
}


.rightColsSearchContent {
  padding-top: 3%;
  width: 25%;
  position:fixed;
  right:100px;
  top:100px;
}



#searchDreamBox, #searchGalleryBox {
margin-top: 2%;

/*position:fixed;
right:50px;
top:100px;*/

}


#tagList {

  margin-top: 15%;
  height: 2000px;
  overflow-y: scroll;
  text-align: center;
  font-size: 1em;
  color:#7c7a7a;
}

#titleList {

  height: 2000px;
  overflow-y: scroll;
  margin-top: 15%;
  text-align: center;
  font-size: 1em;
  color:#7c7a7a;
}


#galleryImageSection{
  width : 70%;
}
#gallerySearchSection{
position:fixed;
margin-top: 2%;
right:50px;
top:100px;
/* margin-bottom: 3%; */
}

#addNewDream_button {
margin-bottom: 3%;

}

.thumbnail img {
    /*height:200px;*/
    width:100%;
}

.custom-card {
  background: #0b0b0c;
  border : solid 0.8px #3f3f3f;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
}


.titleFont {
  font-family: 'Avenir', sans-serif;
}

.bodyFont {
  font-family: 'Avenir', sans-serif;
  font-weight: 300;
}

.form-signin {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  /* font-weight: 400; */
}

.form-signin .form-control {
  background-color:#0b0b0c;
  font-family: 'Avenir', sans-serif;
  position: relative;
  /* box-sizing: border-box; */
  height: auto;
  padding: 10px;
  font-size: 0.75em;
  color:#8ad8d7;


}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-rounded {
border-radius: 1rem;
}

#record_title{
  padding-left: 10px;
  border-bottom : 0.3px solid #3f3f3f;
  border-left:none;
  border-right:none;
  border-top:none;

  background: #0b0b0c;
  color : #fff;
}

#record_body {
  padding-left: 10px;
  padding-top: 10px;
  background: #0b0b0c;
  border : 0.5px solid #3f3f3f;
  border-radius: 5px;
  color : #fff;
}

#record_tag {
  padding-left: 10px;
  background: #0b0b0c;
  border : 0.5px solid #3f3f3f;
  border-radius: 5px;
  color : #fff;
}

#read_title{
  color : #8ad8d7;
}

#read_date{
  color : #8ad8d7;
}

#read_body {
  color : #fff;
  border : none;
}

#read_tag {
  color : #8ad8d7;
  /* background-color: #fff */
}

#drawButton_Image, #saveButton_Image, #micButton_Image, #homeButton_Image  {
  border: none;
}
